.container{
    flex-wrap: wrap; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position:relative ;
    border-radius: 6px ;
    background-color: rgba(195, 225, 234, 0.693);
    height: 370px   ;
    width:250px    ; 
    border-color: rgb(217, 217, 146);
    /* border-color: rgb(21, 21, 20); */
     margin: 30px 1px -00px 10px;
     border-style:  inset;
     border-right-style: inset;
     box-shadow: 10px 10px 500px 10px  #dbe0db; 
border-radius: 25px ;
     cursor: url(../IMG/9.2.png), auto; 
       max-width: 100%; 
}
.img{

    position: relative;
    height: 100%;
    width: 90%;
    border-radius: 10px 5px 0px 20px;
}


.text{
    position: relative;
    font-family: serif;
    font-size: 12px;
     margin: 1% 2% 0% 1%; 
  

    /* text-transform:uppercase; */
    
}



@media screen and (max-width: 450px) {

    .container{
        
        height: 320px ; 
        width: 70%;
        border-color: rgb(217, 217, 146);
       
        margin: 30px 1px 10px 40px;
       
    }
    }
