

.container2::-webkit-scrollbar {
    -webkit-appearance: none;
}


.container2{
  
    /* background: linear-gradient(rgba(31, 31, 31, 0.481), rgba(240, 241, 244, 0.761), #0d0d0d); */
    background-image: url(../IMG/detail7.jpg);
    overflow: auto;
    height: 10%;
    width: 10%;
    position: absolute;

    background-size: cover;
    transition: background-image 2s ease;
    height: 100%;
    width: 100%;
  }

  .time{
    font-size: 70%;
    /* left: 50px; 
   margin: 1px -100px 2px 10px;
    position: relative;*/
   
  }
  
  .container2:hover {
   

    background-image: url('../IMG/detail6.jpg');
    height: 100%;
    width: 100%;
    /* background-image: url('../IMG/detail3.jpg'); */
    
    /* background-image: url('../IMG/detail4.jpg'); */
 
    
  }
  




@media screen and (max-width: 700px) {
    .container2{
        height: 150%;
        overflow: none  ;
    }

}



.divAc{
    background-color: rgba(236, 227, 227, 0.849);
    height: 80%;
    position: relative;
    left: 45%;
    bottom: 70%;
    overflow: auto;
    width: 40%;
    border-radius: 2%;
    border: 2px solid;
}

@media screen and (max-width: 700px) {
    .divAc {
        background-color: rgba(234, 247, 234, 0.592);
        display: flex;
        position:absolute;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-around;
        width: 50%;
        top: 80%;
        left: 30%;
        height: 50%;
      
        font-family:Ink Free; 
    
        
  }
}




.container2::-webkit-scrollbar {
    -webkit-appearance: none;
}

.countri{
    background-color: rgba(236, 227, 227, 0.849);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 30%;
    top: 10%; 
    left: 5%;
    height: 80%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;

    border-radius: 2%;
    border: 2px solid rgba(1, 1, 22, 0.945);
      font-family:Copperplate Gothic Light; 
     /* font-family:Ink Free; */
     /* cursor: url(../IMG/2.6.png), auto; */
}

@media screen and (max-width: 700px) {
    .countri {
        background-color: rgba(202, 190, 190, 0.865);
        display: flex;
        position: relative;
        flex-direction: column;
        width: 80%;
        top: 5%; 
        left: 10%;
        height: 70%;
  
    }
  }


.button {
    position: relative;
   width: 30px;
   height:20px;
    top: 10px; 
    right: 600px;
  
    animation: bot 3s infinite;
}




@keyframes bot{
     
  50% { 
    width: 30px;
    height:20px;
  animation-timing-function: cubic-bezier(0.2,-2,0.8,2);
   
   } 
   100% {
    width: 30px;
    height:20px;
    right:  700px;
    animation-timing-function:cubic-bezier(0.2,-2,0.8,2);
   }   
}

.button1 {
    position: relative;
   
    border-radius: 50% 0px 50px 0px;
    top: -10px; 
    left: 0px;
    border: 2px solid rgba(1, 1, 22, 0.945);
    background-color: rgb(33, 205, 2);
}

.button2{
    position: absolute;
    top: 2%;
    left: 20%;
    text-decoration: none;
    text-decoration-line: none;
    margin: 0% 30% 0% 60%;
    border: 2px solid rgba(8, 8, 8, 0.945);
    background-color: rgba(123, 238, 159, 0.412);
    font-family: Copperplate Gothic Light;
}




.img{
    position: relative;
    width: 60%;
    height: 20%;
    margin: 0% 10% 0% 10%;
    border-radius: 10px 5px 0px 20px;
    border: 50% solid rgba(1, 1, 22, 0.945);
}

.activity{
    background-color: rgba(139, 202, 236, 0.382);
    display: flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 5%;
    font-family:Ink Free;
    font-family:Copperplate Gothic Light; 
    border: 1px solid rgba(1, 1, 22, 0.945);
    margin: 5px 0px 50px 0px;
}

@media screen and (max-width: 700px) {
    .activity {
        background-color: rgba(99, 94, 76, 0.527);
       display: flex;
        position:relative;
        flex-wrap: nowrap; 
         flex-direction: column;
        align-items: center;
      margin: 5px 0px 5px 0px;
        width: 90%;
        top: 0%;
        left: 5%;
        border-radius: 5%;
        font-family:Copperplate Gothic Light; 
        /* font-family:Ink Free; */
        border: 1px solid rgba(1, 1, 22, 0.945);

  }
}

@media screen and (max-width: 450px) {

  .container2:hover {
    background-image: url('../IMG/detail6.jpg');
    height: 150%;
    width: 100%;
  }
.divAc{
  background-color: rgba(234, 247, 234, 0.592);
  width: 80%;
  top: 10%;
  left: 10%;
  position: relative;
  border-radius: 0%;
}
.countri{
  height: 70%;
  border-radius: 0%;
}
.activity{
  margin: 5px 0px 5px 0px;
    width: 90%;
    top: 0%;
    left: 5%;
    border-radius: 0%;
    
}

  .button {
    position: relative;
    width: 30px;
    height: 20px;
    top: 1px;
    right: 30%;
    animation: bot 3s infinite;
  
}
.button2{
    top: 3%;
    left: 10%; 
}

@keyframes bot{
     
  50% { 
    width: 30px;
    height:20px;
  animation-timing-function: cubic-bezier(0.2,-2,0.8,2);
   
   } 
   100% {
    width: 30px;
    height:20px;
    right:  40%;
    animation-timing-function:cubic-bezier(0.2,-2,0.8,2);
   }   
}

}
