.container{
 width: 100%;
 position: absolute;
 background-color: #0a0a0a;
 
  width: 100%;
  height: 100%;
  background-image: url('../IMG/nubes1.jpg');
  background-size: cover;

  animation: cambiarImagenes 10s infinite;

}


.au{
  position: relative;
  width: 15%;
  height: 20px;
  right: 25%;
  bottom: 10%;
}
.au::-webkit-media-controls {
   background-color: #9d8e8e1a; 
}

.au::-webkit-media-controls-play-button {
  background-color: #db0b0b;
  color: #eaf209;
}


@keyframes cambiarImagenes {
  0% {
    background-image: url("../IMG/nubes3.jpg");
  }
  50% {
    background-image: url("../IMG/nubes2.jpg");
  }
  100% {
    background-image: url("../IMG/nubes3.jpg");
  }
}


  /*
.img{
 border: none;

  position:absolute;
  /* margin: 50px 50px  50px 100px; 
  width: 100%;
  height: 234%;
  left: 0%; 
 
}*/
.img2{
  position:relative;
 width: 30%;
top: 40%;
left: 0%;
  animation-duration: 5s;
  animation-name: plane ;
  animation-direction:initial;
  animation-iteration-count:infinite;
  cursor: url("../IMG/9.1.png"), auto; 
 
 
}


@keyframes plane {

   /* from {
  width: 0%;
  top :0px;
  }

  15% { 
    top: 300px;
  } */
   20% { 
 
    top: 30%;
    animation-timing-function:ease-out
   
   }  
   55% {
    top: 38%;
    width: 30%;
    animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
   
  } 
  100% {
 
   width: 30%;
    top: 40%;
    animation-timing-function:ease-innb
  }  
  /* 50% { 
 
    top: 280px;
    animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
   
   } 
   100% {
   
   width: 30%;
    top: 40%;
   }    */

}




.img3{
  width: 20%;
  left: 75%;
  top: 10%;
 
  position: absolute;
  border-radius: 10px 0px 50px 50px;
  border:5px solid rgba(1, 1, 22, 0.945);
  box-shadow: 40px 20px 20px 10px  #0a0a0a;
}

@media screen and (max-width: 700px) {
  .img3 {
    width: 20%;
    left: 75%;
    top: 10%;
   
    position: absolute;
    border-radius: 10px 0px 50px 50px;
    border:5px solid rgba(1, 1, 22, 0.945);
    box-shadow: 20px 0px 50px 0px  #0a0a0a;
  }
}




.img4{
  width: 20%;
 
  right: 50%;
  top: 20%;
  position: relative;
}





.button{
    position: relative;
    top: 50px; 
    left: 150px;
    margin: auto;
    box-shadow: 10px 10px 10px #0a0a0a;
    cursor: url(../IMG/2.9.1.png), auto;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 



.u {
  animation-duration: 3s;
  animation-name: slidein;
  bottom: 500px ;
  position: relative;

}



.text2{
  position: absolute;
   display: flex;
  flex-direction: row; 
  background-color: aqua;
  left: 1%;
  top: 90%;
  width: 40%;
  border-radius: 5px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Consolas;
  justify-content: space-evenly;
  font-size: small;
}







.text3 {
  animation-duration: 3s;
  animation-name: pd;
 
  animation-direction: alternate;
  animation-iteration-count:1;
  animation-fill-mode:both;
}

@keyframes pd {
  from {
    margin-left: -100%;
    width: 20%
  }

  to {
    margin-right: -222%;
    width: 60%;
  }
}









@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .text2 {
    box-shadow: 50px 50px  50px  #0a0a0a;
    display: flex;
    flex-direction: column;
    top: 18%;
    width: 20%;
    background-color: rgba(36, 106, 106, 0.176);
  }
  .au{
    right:25%;
    top: 5%;
  }
}



























