@media (max-width: 768px) {

    .container{
        top: -70px;
        width: 10%;
        height: 10%;
        position: relative;
        background-color: rgb(62, 186, 186);
       
       }
       .container2{
       background-color: #e30000;
       top: 100px;
        width: 100%;
        height: 100%;
         position: absolute;
         border-radius: 50%;
        
       }


       .img4{
        width: 60px;
        height: 150px;
        left: -300px;
        top:100px;
        position: relative;
      /*   
        border:5px solid rgba(1, 1, 22, 0.945); 
         box-shadow: 50px 35px 50px  #0a0a0a; */
      }
      
      .img3{
        width: 400px;
        left: 750px;
        top:70px;
        position: relative;
        border-radius: 10px 0px 50px 50px;
        border:5px solid rgba(1, 1, 22, 0.945);
        box-shadow: 50px 35px 50px  #0a0a0a;
      }
      
      
      
      
      
      .u {
        animation-duration: 3s;
        animation-name: slidein;
        bottom: 500px ;
        position: relative;
      
      }
      
      
      
      .text2{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: aqua;
        left: 0px;
        top: 170px;
        width: 600px;
        border-radius: 5px;
        font-family: Consolas;
        justify-content: space-evenly;
        font-size: small;
      }
      
      
      .text3 {
        animation-duration: 3s;
        animation-name: pd;
       
        animation-direction: alternate;
        animation-iteration-count:1;
        animation-fill-mode:both;
      }
      
      @keyframes pd {
        from {
          margin-left: -100%;
          width: 20%
        }
      
        to {
          margin-right: -222%;
          width: 60%;
        }
      }
      
       
       .img{
         border: none;
         width: auto ; 
         position:relative;
          margin: 50px 50px  50px 100px; 
         width: 17px;
         height: 75px;
         left: 0px;
         right: 0px;
         top: -100px;
       }
       
       .img2{
         position:relative;
         
       width: 100%; 
       top: 222px;
       left: 100px;
         animation-duration: 5s;
         animation-name: plane;
         animation-direction:initial;
         animation-iteration-count:1;
       
        animation-timing-function: linear;
         cursor: url("../IMG/9.1.png"), auto;  
       }
     
       
       @keyframes plane {
       
         from {
         width: 0%;
         top :200px;
          
         }
       
         15% { 
           top: 300px;
          
         }
          35% {
           top: 280px;
         
         }  
          55% {
           
           top: 270px;
          
         } 
         100% {
          width: 100%;
           top: 220px;
            animation-timing-function: linear; 
           
         }
          
         to {
       
         
         }
       
       
       }  
        

    

}
