.lista{
 
    display: inline-block;
    position: relative;
   
    cursor: pointer;
width: 100%;

}

.number{
    display: inline;
color: antiquewhite;
font-size: 90%;
}


.pagin{
    border-color:  #ddd2d2;
    border-style: inset;
 

    background-color: rgb(0, 0, 0);
    line-height: 25px;
    padding: 0% 1% 0% 1%;
    text-decoration: none;


    
}



@media screen and (max-width: 450px) {

    .pagin{
        border-color:  #ddd2d2;
        border-style: inset;
     
        background-color: rgb(0, 0, 0);
        line-height: 19px;
        width: 10px;
        padding: 2% 12% 1% 2%;
        text-decoration: none;
        display: inline-grid;
    }
    .lista{
        display: inline-block;
        width: 100%;
        top: 150px;
        right: 50px;
    }
}

